<!--
  Generated template for the Subscribe page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>DEPARTMENT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-slides>
  <ion-slide>
    <ion-item *ngFor="let dept of depts">
       <button ion-button color="dark" full (click)="goToSlide()">{{dept}}</button>
     </ion-item>
   </ion-slide>
   <ion-slide>
     <ion-item *ngFor="let type of types">
        <button ion-button color="dark" full data-toggle="tooltip"  ng-model="testDate23" (click)="goToSlide()" >{{type}}</button>
     </ion-item>
   </ion-slide>
    <ion-slide>
     <ion-item *ngFor="let prog of progs">
        <button ion-button color="dark" full data-toggle="tooltip"  ng-model="testDate23" (click)="goToSlide()" >{{prog}}</button>
     </ion-item>
   </ion-slide>
    <ion-slide>
     <ion-item *ngFor="let year of years">
        <button ion-button color="dark" full data-toggle="tooltip"  ng-model="testDate23" (click)="goToSlide()" >{{year}}</button>
     </ion-item>
   </ion-slide>
    <ion-slide>
     <ion-item *ngFor="let batch of batchs">
        <button ion-button color="dark" full data-toggle="tooltip"  ng-model="testDate23" (click)="goToSlide()" >{{batch}}</button>
     </ion-item>
   </ion-slide>
</ion-slides>

   </ion-content>

